# Dependencies
app/node_modules
node_modules/
venv/
.venv/
*/venv/
*/.venv/

# IDEs
.vscode
.idea
*.swp
*.swo

# Configs
config.yaml
config.dev.yaml
.env
.env.*
! .env.example
access.json
access/*.json

# Logs & Storage
storage/
logs/
db/
redis/
presets

# Build outputs
dist/
app/dist/
*.exe
chat
chat.exe

# Specific data
addition/generation/data/*
!addition/generation/data/.gitkeep
addition/article/data/*
!addition/article/data/.gitkeep

# Security
key/*
!key/.gitkeep

# Exclude UniChat folder
UniChat/

# OS files
.DS_Store
Thumbs.db
